.btn,
.jumbotron,
.nav :hover {
    border-radius: 0px;
}

/* for react player */
 .player-wrapper {
    position: relative;
    padding-top: 61.25%;
    border: 1px solid black;
    /* background-color: rgba(0, 0, 0, 0.76); */
  }
  .player{
      height: 200px;
  }
  
  .react-player {

    position: absolute;
    top: 0;
    left: 0;
    
  } 
  .tabbar{
      position: relative;
      top: 0;
      left: 0;
  }
  
  
/* 
.list-group-item:hover {
    background-color: red;
} */

/* .list-group-item:hover {
    -webkit-transform: scale(0.3);
    -ms-transform: scale(0.3);
    transform: scale(0.3);
} */

/* .nav {
    position: fixed;
    top: 0%;
    width: 100%;
} */


.product-img {
    min-height: 100px;
}

.jumbotron h2 {
    margin-top: -20px;
}

/* .material-icons {
    font-size: 6rem;
} */

@media only screen and (max-width:600px) {
    .jumbotron h2 {
        margin-top: 10px;
    }
}

.nav-item{
    font-weight: 500;
    font-size: 20px;
}

.nav-item:hover{
    color: orange;
    background-color: rgba(24, 108, 122, 0.575);
    text-decoration: none;
}

.parallax-container{
    opacity: 0.75;
}

.book-img{
  height: auto;
  width: auto;
}

.text-on-img1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */

}
.section-heading,.instrctors{
    font-weight: bold;
    text-align: center;
}
.first1{
    color: white;
    text-align: center;
    font-weight: bold;
}
.text-on-img2{
    color: black;
}

.card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  /* padding: 14px 80px 18px 36px; */
  cursor: pointer;
}

.card img{
    position: absolute;
    padding: 0px 20px;
    top: 20px;
    right: 15px;
    /* max-height: 120px; */
    height: 100%;
    width: 70%;
    /* height: ; */
  }
  .card .card-title {
    font-size: 24px;
    font-weight: 700;
}

   .card-image{
      height: 100%;

  } 

  /* .card-image:hover{
    -webkit-transform: scale(1.08);
  transform: scale(1.08);
  } */

 .card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
} 

.card-reveal{
    color: #ffffff;
    background-color: rgba(0,0,0,0.7) !important;
  }
  div.card-reveal span.card-title{
    color: #ffffff !important;
  }
  .tabs{
    background-color: transparent;
  }
  td, th{
    padding: 5px 5px !important;
  }
  table.highlight>tbody>tr:hover{
    background-color: rgba(238,110,115,0.6);
  }
  input[type=search]:focus{
    border-bottom: 1px solid #ee6e73 !important;
    box-shadow: 0 1px 0 0 #ee6e73 !important;
  }

@media only screen and (max-width:400px){
    .card-image{
        height: 70%;
    }
    .materialBox{
        height: 100%;
    }
    .card{
        width: 100%;
    }
}

/* .jumbotron {
    width: 30wh;
    height: 30vh;
    color: #fff;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
} */

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}